.moviesOutputDetails{
    display: flex;
    flex-direction: row;
    margin: 40px;
    width: fit-content;
    background-color: #1c1b1b;
}

.movieInfo{
    padding: 5px;
    display: flex;
    background-color: #3f3d3d
}

.movieInfo-content{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.moviedata-title{
    display: flex;
    justify-content: inherit;
}

.trailer{
    color: white;
    display: flex;
    align-items: center;
    height: 43px;
    align-self: center;
    width: 108px;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #1ca1da;
    margin-left: 14px;  
}

.synopsis{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 750px;
}

.otherInfo{
    display: flex;
    justify-content: initial;
}

.list-info{
    border: 2px solid red;
    display: flex;
}

.list-info2{
   padding: 0;
}

.list{
    list-style: none;
    margin-bottom: 10px;
}


@media (max-width: 600px){
    .moviesOutputDetails{
       
        flex-direction: column;
        margin: 40px;
        width: auto;
       
    }
    
    .movieInfo{
        background-color: #1c1b1b;
        /* width: fit-content; */
        align-self: center;
        /* padding: 5px;
        display: flex;
        background-color: #3f3d3d */
    }
    
    .movieInfo-content{
        /* margin: 10px;
        display: flex; */
        flex-direction: column;
    }
    .moviedata-poster{
        width: 115px;
        height: 166px;
        margin-bottom: 0px;
    }
    
    .moviedata-title{
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .moviedata-title h1{
        font-size: 18px;
    }
    
    .trailer{
        width: fit-content;
    }
    
    .synopsis{
       
        width: fit-content;
    }
    
    /* .otherInfo{
        display: flex;
        justify-content: initial;
    }
    
    .list-info{
        border: 2px solid red;
        display: flex;
    }
    
    .list-info2{
       padding: 0;
    }
    
    .list{
        list-style: none;
        margin-bottom: 10px;
    } */
}
